<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <lockedDomains>
    <domain>localhost</domain>
    <domain>staging.sitelock.local</domain>


    <!-- Uncomment to lock all domains -->
    <!-- <domain>*</domain> -->
  </lockedDomains>


  <ignoredPaths>
    <!-- You should keep /umbraco, unless you have another way to log in -->
    <path>/umbraco</path>
    <path>/403.html</path>

  </ignoredPaths>
</configuration>