<?xml version="1.0" encoding="utf-8"?>
<configuration enabled="true">
  <lockedDomains>
    <domain>localhost</domain>
    <domain>staging.sitelock.local</domain>


    <!-- Uncomment to lock all domains -->
    <!-- <domain>*</domain> -->
  </lockedDomains>


  <allowedPaths>
    <!--Regular expressions-->
    <path>^/about(.*)</path>
    <path>/ErrorPages/403-sample.html</path>
    <path>/umbraco/ping.aspx</path>
    <path>/umbraco/RestServices/(.*)</path>

  </allowedPaths>
</configuration>