<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <lockedDomains>
    <domain>localhost</domain>
    <domain>staging.sitelock.local</domain>


    <!-- Uncomment to lock all domains -->
    <!-- <domain>*</domain> -->
  </lockedDomains>


  <allowedPaths>
    <!--Regular expressions-->
    <path>^/news(.*)</path>
    <path>/403-sample.html</path>

  </allowedPaths>
</configuration>